<h1 class="mt-4">
  <%= image_tag "logo.png", width: 32, class: "d-inline-block align-baseline" %>
  Bourn
</h1>

<p>Bourn is a microblogging platform made for people annoyed with the current trends of mainstream media platforms.</p>
<p>
  Void of ads and <a href="https://en.wikipedia.org/wiki/Clickbait">clickbait</a> news articles, the focus here is on the content.
  While other platforms currently exist that fill this need, they each have their own advantages and disadvantages.
</p>

<p>What sets Bourn apart:
  <ul>
    <li>Stellar performance on all platforms</li>
    <li>Guarding against spam users by requiring payment</li>
    <li>Simple chronological timelines</li>
    <li>No needless length restrictions on posts</li>
  </ul>
</p>

<p>Need to get in touch?</p>

<address>
    Jonah George<br>
    435 NW 5th Street, Suite A<br>
    Corvallis, OR 97330-6492<br>
    <br>
    (541) 360-0401
</address>

<!--
Timelines are chronological
Public timelines
500 characters per post
GIFV sets and short videos
Granular, per-post privacy settings
Rich block and muting tools
Ethical design: no ads, no tracking
Open API for apps and services
-->
