<h1>About</h1>

<p>Bourn is a <a href="/">microblogging</a> platform made for people annoyed with the current trends of mainstream media platforms.</p>
<p>
Void of ads and clickbait news articles, the focus here is on the content.
While other platforms currently exist that fill this need, they each have their own advantages and disadvantages.
</p>

<p><strong>What sets Bourn apart</strong></p>
<ul>
  <li>Stellar performance on all platforms</li>
  <li>Guarding against spam users by requiring payment</li>
  <li>Simple chronological timelines</li>
  <li>No needless length restrictions on posts</li>
</ul>

<p class="mt-5"><strong>What people have to say about it</strong></p>
<blockquote class="blockquote">
  <p>Bourn allows me to take my identity elsewhere and completely forget about it. Here I start new.</p>
  <footer class="blockquote-footer"><a href="https://github.com/hugheskatie">Katie Hughes</a></footer>
</blockquote>
