<h1>Policies</h1>

<article class="mb-4" id="disclaimer">
  <h2>Disclaimer</h2>

  <p>
  Bourn provides the Website and the Service “as is” and “as available,” without warranty of any kind. Without limiting this, we expressly disclaim all warranties, whether express, implied or statutory, regarding the Website and the Service including without limitation any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement.
  </p>

  <p>
  Bourn does not warrant that the Service will meet your requirements; that the Service will be uninterrupted, timely, secure, or error-free; that the information provided through the Service is accurate, reliable or correct; that any defects or errors will be corrected; that the Service will be available at any particular time or location; or that the Service is free of viruses or other harmful components. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, information, content or other material obtained from the Service.
  </p>
</article>

<article class="mb-4" id="privacy-policy">
  <h2>Privacy Policy</h2>
  We collect your information only with your consent; we only collect the minimum amount of personal information that is necessary to fulfill the purpose of your interaction with us; we don't sell it to third parties; and we only use it as this Privacy Statement describes.

  <h3>Information from website browsers</h3>

  <p>
  If you're just browsing the website, we collect the same basic information that most websites collect. We use common internet technologies, such as cookies and web server logs. This is stuff we collect from everybody, whether they have an account or not.
  </p>

  <p>
  The information we collect about all visitors to our website includes the visitor’s browser type, language preference, referring site, additional websites requested, and the date and time of each visitor request. We also collect potentially personally-identifying information like Internet Protocol (IP) addresses.
  </p>

  <h4>Why do we collect this?</h4>

  <p>
  We collect this information to better understand how our website visitors use Bourn, and to monitor and protect the security of the website.
  </p>

  <h3>Information from users with accounts</h3>

  <p>
  If you create an account, we require some basic information at the time of account creation. You will create your own user name and password, and we will ask you for a valid email account. You also have the option to give us more information if you want to, and this may include "User Personal Information."
  </p>

  <p>
  "User Personal Information" is any information about one of our users which could, alone or together with other information, personally identify him or her. Information such as a user name and password, an email address, a real name, and a photograph are examples of “User Personal Information.”
  </p>

  <p>
  User Personal Information does not include aggregated, non-personally identifying information. We may use aggregated, non-personally identifying information to operate, improve, and optimize our website and service.
  </p>

  <h4>Why do we collect this?</h4>

  <ul>
    <li>We need your User Personal Information to create your account, and to provide the services you request.</li>
    <li>We use your User Personal Information, specifically your user name, to identify you on Bourn.</li>
    <li>We use it to fill out your profile and share that profile with other users if you ask us to.</li>
    <li>We will use your email address to communicate with you, if you've said that's okay, and only for the reasons you’ve said that’s okay. Please see our section on email communication for more information.</li>
    <li>We limit our use of your User Personal Information to the purposes listed in this Privacy Statement. If we need to use your User Personal Information for other purposes, we will ask your permission first. You can always see what information we have, how we're using it, and what permissions you have given us in your user profile.</li>
  </ul>
</article>

<article class="mb-4" id="acceptable-use-policy">
  <h2>Acceptable Use Policy</h2>

  <h3>1. Compliance with Laws and Regulations</h3>

  <p>
  Your use of the Website and Service must not violate any applicable laws, including copyright or trademark laws, export control laws, or other laws in your jurisdiction. You are responsible for making sure that your use of the Service is in compliance with laws and any applicable regulations.
  </p>

  <h3>2. Content Restrictions</h3>

  <p>
  You agree that you will not under any circumstances upload, post, host, or transmit any content that:
  </p>

  <ul>
    <li>is unlawful or promotes unlawful activities;</li>
    <li>is or contains sexually obscene content;</li>
    <li>is libelous, defamatory, or fraudulent;</li>
    <li>is discriminatory or abusive toward any individual or group;</li>
    <li>contains or installs any active malware or exploits, or uses our platform for exploit delivery (such as part of a command and control system); or
      infringes on any proprietary right of any party, including patent, trademark, trade secret, copyright, right of publicity, or other rights.</li>
  </ul>

  <h3>3. Conduct Restrictions</h3>

  <p>
  While using Bourn, you agree that you will not under any circumstances:
  </p>

  <ul>
    <li>harass, abuse, threaten, or incite violence towards any individual or group, including Bourn employees, officers, and agents, or other Bourn Users;</li>
    <li>use our servers for any form of excessive automated bulk activity (for example, spamming), or relay any other form of unsolicited advertising or solicitation through our servers, such as get-rich-quick schemes;</li>
    <li>attempt to disrupt or tamper with Bourn's servers in ways that could harm our Website or Service, to place undue burden on Bourn's servers through automated means, or to access Bourn's Service in ways that exceed your authorization (other than those authorized by the Bourn Bug Bounty program);</li>
    <li>impersonate any person or entity, including any of our employees or representatives, including through false association with Bourn, or by fraudulently misrepresenting your identity or site's purpose; or</li>
    <li>violate the privacy of any third party, such as by posting another person's personal information without consent.</li>
  </ul>
</article>


<article class="mb-4" id="return-policy">
  <h2>Return Policy</h2>

  <p>
  Our policy lasts 30 days. If 30 days have gone by since your purchase,
  unfortunately we can’t offer you a refund.
  </p>

  <h3>Refunds</h3>
  <p>
  When your refund is processed, a credit will automatically be applied to
  your credit card or original method of payment, within a certain amount of days.
  </p>

  <h3>Late or missing refunds</h3>
  <p>
  If you haven’t received a refund yet, first check your bank account again.
  Then contact your credit card company, it may take some time before your refund is officially posted.
  Next contact your bank. There is often some processing time before a refund is posted.
  If you’ve done all of this and you still have not received your refund yet, please contact us via the contact form or by sending mail to the address below.
  </p>

  <address>
    Jonah George<br>
    435 NW 5th Street, Suite A<br>
    Corvallis, OR 97330-6492<br>
  </address>
</article>

<article class="mb-4" id="dmca-contact">
  <h2>DMCA Contact</h2>

  <p>If you believe that content on our website violates your copyright, please contact us. If you are a copyright owner and you believe that content on Bourn violates your rights, please contact us via our convenient DMCA form or sending a letter to the address below. There may be legal consequences for sending a false or frivolous takedown notice. Before sending a takedown request, you must consider legal uses such as fair use and licensed uses.</p>
  <p>We will terminate the accounts of repeat infringers of this policy.</p>

  <address>
    Jonah George<br>
    435 NW 5th Street, Suite A<br>
    Corvallis, OR 97330-6492<br>
  </address>
</article>
