<h2>New Subscription</h2>

<label class="amount">
  <span>Amount: $1.00 per year</span>
</label>

<%= form_tag subscription_path do %>
  <div class="form-group">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- a Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors -->
    <div id="card-errors"></div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Submit Payment</button>
  </div>
<% end %>
