<div class="card">
  <ul class="list-group list-group-flush">
    <% @posts.each do |post| %>
      <%= link_to post, class: "list-group-item" do %>
      <p class="card-text"><%= post.title %></p>
      <% end %>
    <% end %>
  </ul>
</div>
