<h2>News Feed</h2>

<% if is_signed_in %>
  <%= render "parent_post_form" %>
<% end %>

<ul class="list-unstyled">
  <% @posts.each do |post| %>
    <%= render "posts/short_post", { post: post } %>
  <% end %>
</ul>
