<% if form.errors.any? %>
  <div class='alert alert-danger'>
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <ul class="mb-0">
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
