<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="Onv-ygarc19a_4tMWG_AsLAxh2-3WSUKf6ntvXZstdk" />

    <meta property="og:title" content="Bourn" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bourn.jonahgeorge.com" />
    <meta property="og:image" content="<%= image_url "logo.png" %>" />
    <meta property="og:locale" content="en_US" />

    <title>Bourn</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <%= yield %>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'weatherglass-tracker';
      t.setAttribute('data-site-id', 'bourn');
      t.src = "https://weatherglass.herokuapp.com/track.js";
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
    </script>
  </body>
</html>
